.Container {
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    max-width: 1440px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.List {
    justify-content: center;
    margin-bottom: -2px;
    display: flex;
    position: relative;
    width: 100%;
    list-style: none;
}

.Product,
.Services,
.Brand,
.Deal,
.Publications,
.User {
    border: 0;
    padding: 13px 20px;
    text-transform: uppercase;
    flex-direction: row-reverse;
    position: relative;
    z-index: 1;
    border-radius: 0;

}

.List li .Product-btn {
    color: #444;
    border: none;
    background-color: transparent;
    overflow: visible;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.List li .Service-btn {
    color: #444;
    border: none;
    background-color: transparent;
    overflow: visible;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.List li .Brand-btn {
    color: #444;
    border: none;
    background-color: transparent;
    overflow: visible;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.List li .Deal-btn {
    color: #444;
    border: none;
    background-color: transparent;
    overflow: visible;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.List li .Pub-btn {
    color: #444;
    border: none;
    background-color: transparent;
    overflow: visible;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.List li .Cus-btn {
    color: #444;
    border: none;
    background-color: transparent;
    overflow: visible;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.List button:focus {
    color: #c00;
}

.rotate.active {
    transform: rotate(180deg);
    transition: 0.1s;
}

.productmenu {
    background: #f3f3f3;
    color: #c00;
    position: absolute;
    top: 12px;
    right: -105px;
    width: 280px;
    height: 780px;
    list-style: none;
    opacity: 0;
    z-index: 20px;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.productmenu.active {
    z-index: 2px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.productmenu li {
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    text-transform: none;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-left: -30px;
    display: block;
}

.productmenu li:hover {
    background: #ffffff;
    color: #c00;
}

.servicemenu {
    background: #f3f3f3;
    color: #c00;
    position: absolute;
    top: 55px;
    right: 100px;
    width: 280px;
    list-style: none;
    opacity: 0;
    z-index: 20px;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}


.servicemenu.active {
    z-index: 2px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.servicemenu li {
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    text-transform: none;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-left: -30px;
    display: block;
}

.servicemenu li:hover {
    background: #ffffff;
    color: #c00;
}

.brandmenu {
    background: #f3f3f3;
    color: #c00;
    position: absolute;
    top: 55px;
    right: 230px;
    width: 280px;
    list-style: none;
    opacity: 0;
    z-index: 20px;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}


.brandmenu.active {
    z-index: 2px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.brandmenu li {
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    text-transform: none;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-left: -30px;
    display: block;
}

.brandmenu li:hover {
    background: #ffffff;
    color: #c00;
}

.dealmenu {
    background: #f3f3f3;
    color: #c00;
    position: absolute;
    top: 55px;
    right: 350px;
    width: 280px;
    list-style: none;
    opacity: 0;
    z-index: 20px;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}


.dealmenu.active {
    z-index: 2px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dealmenu li {
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    text-transform: none;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-left: -30px;
    display: block;
}

.dealmenu li:hover {
    background: #ffffff;
    color: #c00;
}

.publicmenu {
    background: #f3f3f3;
    color: #c00;
    position: absolute;
    top: 55px;
    right: 520px;
    width: 280px;
    list-style: none;
    opacity: 0;
    z-index: 20px;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}


.publicmenu.active {
    z-index: 2px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.publicmenu li {
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    text-transform: none;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-left: -30px;
    display: block;
}

.publicmenu li:hover {
    background: #ffffff;
    color: #c00;
}

.innerproduct {
    background: white;
    width: 650px;
    height: 782px;
    position: absolute;
    top: 10px;
    right: -754px;
    text-transform: none;
    visibility: hidden;
    padding: 50px;
    z-index: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}



.innerproduct.visible {
    opacity:1;
    visibility: hidden;
    z-index: 1;
    transform: translateY(0);
}

.innerproduct li {
    font-size: 13px;
    color: #444;
    margin: 0;
    padding: 0;
    
}
.innerproduct li:hover {
   color: #c00;

}
.ProductMenu-List:active {
   color: #c00;

}

.Close-Product {
    justify-content: flex-end;
    display: flex;
}
.close-product-menu {
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.close-product-menu:active {
    color: black;
}

.innerproduct .computer-component,.computer-access {
    font-weight: 700;
    color: black;
}

.Product_Image img {
    width: 616px;
    position: relative;
    top: -193px;
    left: -30px;
}

.ComputerCompo {
    position: relative;
    top: -292px;
    left: 243px;
}
.subProduct{
    background: white;
    width: 650px;
    height: 700px;
    position: absolute;
    top: 70px;
    right:0px;
    text-transform: none;
    padding: 50px;
    z-index: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}
.subProduct.open {
    opacity:1;
    visibility: visible;
    z-index: 1;
    transform: translateY(0);
}
.subProduct.close {
    display: none;
}
