.Section{
    margin: 10px;
    background-color: rgb(243,243,243);
    display: inline-block;
    width: 1315px;
    height: 118px;
}
.Update-line{
    border: unset;
    cursor: unset;
    position: relative;
    top: -15px;
    max-width: 600px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 200px;
    color: black;
    font-size: 18px;
}
.Learn-more{
    color: #cc0000;
    position: relative;
    left: 485px;
    top: -50px;
    border: none;
    background-color: transparent;
    text-decoration: none;
    margin-left: 245px;
    font-size: 16px;
    font-weight: 600;
}